body {
    background-image: url("../image/guitar\ bg.jpg");
    background-size: cover;
    height: 1000px;
}

.header {
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.header-logo {
    float: left;
    position: relative;
    height: 200px;
    /* width: 250px; */
    left: -17px;
    top: -44px;
}

.header-list {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 220px;
}

.header-list li {
    float: left;
    padding: 44px 20px;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}

.baris1 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width: 1000px;
}

.baris2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width: 1000px;
}

.baris3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width: 1000px;
}

.baris4 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width: 1000px;
}

.baris5 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width: 1000px;
}